/* ========================================= */
/* HERO IMAGE                                     */
/* ========================================= */
.benjis-2025-hero-image {
    /*
    background-image: url("../../images/gallery/benjis/20250817_204052.webp");
    */
    background-image: url("../../images/heroslides/benjirocks.webp");
}

/* ========================================= */
/* IMAGES                                     */
/* ========================================= */
.benjis2-image-1 {
    background-image: url("../../images/gallery/benjis/20250818_165843.webp");
}

.benjis2-image-2 {
    background-image: url("../../images/gallery/benjis/20250817_204052.webp");
}

.map-section{
    background:black;
    padding: 0;
    text-align:center;
}

.map-section img{
    width:min(95%,1100px);
    height:auto;
    display:block;
    margin:auto;
    border-radius:20px;
}
