/* ========================================= */
/* MOBILE - ADVENTURE CARDS */
/* ========================================= */

@media (max-width:768px){

    .featured-adventure{
        padding: 25px 20px;
         background: linear-gradient(45deg, #f4f4f4, #eeeeee, #000000, #f4f4f4, #555555, #f4f4f4, #eeeeee, #f4f4f4, #000000, #f4f4f4, #f4f4f4);

    }

    .adventure-grid{
        grid-template-columns:1fr;
        gap:30px;
    }

    .adventure-card{
        height:450px;
        border-radius:24px;
    }

    .adventure-card img{
        object-position:center;
    }

    .adventure-overlay{
        padding:30px;
    }

    .adventure-meta{
        font-size:0.75rem;
        letter-spacing:2px;
        margin-bottom:10px;
    }

    .adventure-overlay h2{
        font-size:2rem;
        line-height:1.05;
    }

    .adventure-overlay p{
        margin-top:15px;
        font-size:1rem;
        line-height:1.5;
    }

    .adventure-button{
        margin-top:20px;
        font-size:0.95rem;
    }

}