/* ========================================= */
/* HERO SLIDESHOW */
/* ========================================= */

.hero-slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* ========================================= */
/* SLIDES */
/* ========================================= */

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation:
        fadeAnimation 32.5s infinite, /*ANIMATION DELAY x UMBER OF SLIDES */
        zoomAnimation 32.5s infinite;
}

/* ========================================= */
/* BACKGROUND IMAGES */
/* ========================================= */

.slide1 {
    background-image: url("../images/heroslides/grotto.jpg");
    animation-delay: 0s; 
}
.slide2 {
    background-image: url("../images/heroslides/benjis.jpg");
    animation-delay: 6.5s; /* 1/(number of slides) x  ANIMATION DELAY */
}
.slide3 {
    background-image: url("../images/heroslides/mcgregor.jpg");
    animation-delay: 13s; 
}
.slide4 {
    background-image: url("../images/heroslides/slyfox.jpg");
    animation-delay: 19.5s; 
}
.slide5 {
    background-image: url("../images/heroslides/benjirocks.jpg");
    animation-delay: 26s; 
}


/* ========================================= */
/* FADE ANIMATION */
/* ========================================= */
@keyframes fadeAnimation {

    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* ========================================= */
/* SLOW ZOOM */
/* ========================================= */
@keyframes zoomAnimation {

    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.12);
    }
}
/* ========================================= */
/* DARK OVERLAY */
/* ========================================= */
.hero-slideshow::after {
    content: "";

    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            to bottom,
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.45)
        );

    z-index: 1;
}

/* ========================================= */
/* TEXT OVERLAY */
/* ========================================= */
.hero-overlay {
    position: absolute;
    z-index: 2;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
    color: white;

    width: 90%;
    max-width: 900px;
}

.hero-overlay h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero-overlay p {
    font-size: 1.3rem;
    line-height: 1.6;
}