/* FOR MOBILE, MAKE THE IMAGES SCROLL LEFT TO RIGHT INSTEAD OF ZOMMING IN */

@media (max-width: 768px) {

    /* HERO SECTION */
    .hero-slideshow {
        height: 100svh;
    }

    /* HERO TEXT */
    .hero-overlay {
        width: 90%;
        padding: 20px;
    }

    .hero-overlay h1 {
        font-size: 2.3rem;
        line-height: 1.1;
        margin-bottom: 15px;
    }

    .hero-overlay p {
        font-size: 1rem;
        line-height: 1.5;
    }

    /* ------------------------------------- */
    /* MOBILE IMAGE POSITIONING */
    /* Adjust each image independently */
    /* ------------------------------------- */
    .slide1 {
        background-position: left;
        animation:
            slide1 32.5s infinite;
    }
    .slide2 {
        background-position: left;
        animation:
            slide2 32.5s infinite;
    }
    .slide3 {
        background-position: left;
        animation:
            slide3 32.5s infinite;
    }
    .slide4 {
        background-position: left;
        animation:
            slide4 32.5s infinite;
    }
    .slide5 {
        background-position: left;
        animation:
            slide5 32.5s infinite;
    }

    /* ========================================= */
    /* MOBILE PAN ANIMATION */
    /* ========================================= */

    @keyframes slide1 {
        0% {
            opacity: 1;
            transform: +translateX(0%);
        }
        19% {
            opacity: 1;
            transform: +translateX(100%);
        }
        20% {
            opacity: 0;
            transform: +translateX(0%);
        }
        40% {
            opacity: 0;
            transform: +translateX(0%);
        }
        60% {
            opacity: 0;
            transform: +translateX(0%);
        }
        80% {
            opacity: 0;
            transform: +translateX(0%);
        }
        100% {
            opacity: 1;
            transform: +translateX(0%);
        }
    }

        @keyframes slide2 {
        0% {
            opacity: 0;
            transform: +translateX(0%);
        }
        20% {
            opacity: 1;
            transform: +translateX(0%);
        }
        39% {
            opacity: 1;
            transform: translateX(100%);
        }
        40% {
            opacity: 0;
            transform: +translateX(0%);
        }
        60% {
            opacity: 0;
            transform: +translateX(0%);
        }
        80% {
            opacity: 0;
            transform: +translateX(0%);
        }
        100% {
            opacity: 0;
            transform: +translateX(0%);
        }
    }

        @keyframes slide3 {
        0% {
            opacity: 0;
            transform: +translateX(0%);
        }
        20% {
            opacity: 0;
            transform: +translateX(0%);
        }
        40% {
            opacity: 1;
            transform: +translateX(0%);
        }
        59% {
            opacity: 1;
            transform: +translateX(100%);
        }
        60% {
            opacity: 0;
            transform: +translateX(0%);
        }
        80% {
            opacity: 0;
            transform: +translateX(0%);
        }
        100% {
            opacity: 0;
            transform: +translateX(0%);
        }
    }

        @keyframes slide4 {
        0% {
            opacity: 0;
            transform: +translateX(0%);
        }
        20% {
            opacity: 0;
            transform: +translateX(0%);
        }
        40% {
            opacity: 0;
            transform: +translateX(0%);
        }
        60% {
            opacity: 1;
            transform: +translateX(0%);
        }
        79% {
            opacity: 1;
            transform: +translateX(100%);
        }
        80% {
            opacity: 0;
            transform: +translateX(0%);
        }
        100% {
            opacity: 0;
            transform: +translateX(0%);
        }
    }

        @keyframes slide5 {
        0% {
            opacity: 0;
            transform: +translateX(0%);
        }
        20% {
            opacity: 0;
            transform: +translateX(0%);
        }
        40% {
            opacity: 0;
            transform: +translateX(0%);
        }
        60% {
            opacity: 0;
            transform: +translateX(0%);
        }
        80% {
            opacity: 1;
            transform: +translateX(0%);
        }
        99% {
            opacity: 1;
            transform: +translateX(100%);
        }
        100% {
            opacity: 0;
            transform: +translateX(0%);
        }
    }
        

}