@media (max-width: 768px) {

    /* SECTION DIVIDER */
    .section-divider {
        height: 23vh;
    }

    /* QUOTE TILE */
    .quote-container {
        position: relative;
        width: 97%;
        height: 22vh;
    }

        /* QUOTE */
        .quote {
            padding: 2vh 0;
        }

}