/* ========================================= */
/* SLOW ZOOM */
/* ========================================= */
@keyframes zoomAnimation {

    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
/* ========================================= */
/* DARK OVERLAY */
/* ========================================= */
.hero-slideshow::after {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(
            to bottom,
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.45)
        );
    z-index: 1;
}

/* ========================================= */
/* TEXT OVERLAY */
/* ========================================= */
.hero-overlay {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 90%;
    max-width: 900px;
}

.hero-overlay h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
    overflow: hidden;
    font-family: rock salt;
}

.hero-overlay p {
    font-size: 1.3rem;
    line-height: 1.6;
    overflow: hidden;
    font-family: story script;
}

/* FOR MOBILE, MAKE THE IMAGES SCROLL LEFT TO RIGHT INSTEAD OF ZOMMING IN */

@media (max-width: 768px) {

    /* HERO SECTION */
    .hero-slideshow {
        height: 100dvh;
    }

    /* HERO TEXT */
    .hero-overlay {
        width: 90%;
        padding: 0px;
    }

    .hero-overlay h1 {
        font-size: 2.3rem;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .hero-overlay p {
        font-size: 1rem;
        line-height: 1.5;
    }

  
    /* ========================================= */
    /* MOBILE PAN ANIMATION */
    /* ========================================= */
    /* Grotto */
    @keyframes slide1 { 
        0% {
            opacity: 0;
            background-position: 13% center;
        }

        0.1% {
            opacity: 1;
            background-position: 13% center;
        }

        19.9% {
            opacity: 1;
            background-position: 82% center;
        }

        20% {
            opacity: 0;
            background-position: 82% center;
        }

        100% {
            opacity: 0;
            background-position: left;
        }
    }
    /* Benjis */
    @keyframes slide2 {     
        0% {
            opacity: 0;
            background-position: left;
        }

        20% {
            opacity: 0;
            background-position: left;
        }

        20.1% {
            opacity: 1;
            background-position: left;
        }

        39.9% {
            opacity: 1;
            background-position: 90%;
        }

        40% {
            opacity: 0;
            background-position: 90%;
        }

        100% {
            opacity: 0;
            background-position: left;
        }
    }
    /* McGregor */
    @keyframes slide3 {
        0% {
            opacity: 0;
            background-position: left;
        }

        40% {
            opacity: 0;
            background-position: left;
        }
        40.1% {
            opacity: 1;
            background-position: left;
        }

        59.9% {
            opacity: 1;
            background-position: 90%;
        }

        60% {
            opacity: 0;
            background-position: 90%;
        }

        100% {
            opacity: 0;
            background-position: left;
        }
    }
    /* Sly Fox */
    @keyframes slide4 {
        0% {
            opacity: 0;
            background-position: left;
        }

        60% {
            opacity: 0;
            background-position: left;
        }
        60.1% {
            opacity: 1;
            background-position: left;
        }

        79.9% {
            opacity: 1;
            background-position: 90%;
        }

        80% {
            opacity: 0;
            background-position: 90%;
        }

        100% {
            opacity: 0;
            background-position: left;
        }
    }
    /* Benjis Rocks */
    @keyframes slide5 {
        0% {
            opacity: 0;
            background-position: left;
        }

        80% {
            opacity: 0;
            background-position: left;
        }

        80.1% {
            opacity: 1;
            background-position: left;
        }

        99.9% {
            opacity: 1;
            background-position: 95%;
        }

        100% {
            opacity: 0;
            background-position: 95%;
        }
    }


}