/* ========================================= */
/* SLOW ZOOM */
/* ========================================= */
@keyframes zoomAnimation {

    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
/* ========================================= */
/* DARK OVERLAY */
/* ========================================= */
.hero-slideshow::after {
    content: "";
    position: absolute;
    inset: 0;
    background:
        linear-gradient(
            to bottom,
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.45)
        );
    z-index: 1;
}

/* ========================================= */
/* TEXT OVERLAY */
/* ========================================= */
.hero-overlay {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 90%;
    max-width: 900px;
}

.hero-overlay h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    letter-spacing: 2px;
    overflow: hidden;
    font-family: rock salt;
}

.hero-overlay p {
    font-size: 1.3rem;
    line-height: 1.6;
    overflow: hidden;
    font-family: story script;
}

/* FOR MOBILE, MAKE THE IMAGES SCROLL LEFT TO RIGHT INSTEAD OF ZOMMING IN */

@media (max-width: 768px) {

    /* HERO SECTION */
    .hero-slideshow {
        height: 100dvh;
    }

    /* HERO TEXT */
    .hero-overlay {
        width: 90%;
        padding: 0px;
    }

    .hero-overlay h1 {
        font-size: 2.3rem;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .hero-overlay p {
        font-size: 1rem;
        line-height: 1.5;
    }

}