/* INTRODUCTION GALLERY PAGE GALLERY.HTML */

.gallery-regions{
    display:flex;
    flex-direction:column;
    gap:50px;
    padding:120px 8%;
    /*background-color: rgb(255 99 71 / 0.5); */

    /*
        background:linear-gradient(
        to bottom,
        
        #000000 0%,
        #f8f8f8 30%,
        #000000 40%,
        #000000 50%,
        #f4f4f4 80%,
        #000000 100%
    );
    */

    background:linear-gradient(
        to bottom,
             rgb(255 255 255 / 0.75) 0%,
             rgb(200 200 200 / 0.75) 30%,
             rgb(155 155 155 / 0.75) 40%,
             rgb(99 99 99 / 0.75) 50%,
             rgb(30 30 30 / 0.75) 80%,
             rgb(0 0 0 / 0.75) 90%,
             rgb(0 0 0 / 1.0) 100%
        );

}

.region-card{
    position:relative;
    display:block;
    height:500px;
    overflow:hidden;
    border-radius:30px;
    text-decoration:none;
    border: solid 2px black;
}

.region-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:transform 0.8s ease;
}

.region-card:hover img{
    transform:scale(1.05);
}

.region-overlay{
    position:absolute;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    padding:60px;
    background:linear-gradient(
        to top,
        rgba(0,0,0,0.75),
        rgba(0,0,0,0.05)
    );
}

.region-overlay h2{
    color:white;
    font-size:clamp(2.5rem,5vw,5rem);
    margin:0;
}

.region-overlay p{
    color:rgba(255,255,255,0.85);
    margin-top:10px;
    font-size:1.1rem;
}