/* ACTUAL SECTION ON INDEX.HTML - MOBILE */

/* ========================================= */
/* MOBILE */
/* ========================================= */

@media (max-width:768px){

    .index-page-gallery-header h2{
        font-size: 12vw;
        text-align: center;
    }

    .gallery-section{
        padding: 40px 30px;
    }

    .gallery-text p{
        font-size: 1.2rem;
        line-height:1.8;
        padding: 4% 12%;
    }

    .gallery-link{
        margin-top: 50px;
    }

    .gallery-button{
        width:100%;
        max-width:320px;
        padding: 20px 20px;
        font-size: 15px !important; 
    }

}