@media (max-width:768px){

    .gallery-feature-image {
        height: 150px;
    }

    .gallery-row {
        grid-template-columns: 1fr;
        gap: 15px;
        margin: 30px auto;
    }

    .gallery-row img {
        height: 300px;
    }

    .gallery-feature {
        margin: 40px auto;
    }

}