/*  MENU */
/* ACTUAL GALLERY */
body {
    background:linear-gradient(
        to bottom,
        
        #000000 0%,
        #f8f8f8 30%,
        #000000 40%,
        #000000 50%,
        #f4f4f4 80%,
        #000000 100%
    );
}

.gallery-section{
    max-width:1600px;
    margin:auto;
    padding: 80px 5%;
    margin-top: 25px;
}

.gallery-header{
    text-align:center;
    margin-bottom: 60px;
}

.gallery-header h1{
    font-size:clamp(3rem,6vw,6rem);
    font-family: "Permanent Marker", cursive;
}

.gallery-header p{
    max-width:900px;
    margin:auto;
    font-size:1.15rem;
    line-height:1.8;
}

.gallery-year{
    margin-top: -60px;
}

.gallery-year h2{
    font-size:2.5rem;
    text-align:center;
    font-family:'Story Script',cursive;
    margin-bottom: 20px;
}

.gallery-year h3{
    font-size:2.5rem;
    text-align:center;
    font-family:'Story Script',cursive;
    margin-top: 80px;
    margin-bottom: 20px;
}

.gallery-grid{
    columns:3 350px;
    column-gap:20px;
    overflow:hidden;
    padding: 10px;
}

.gallery-image{
    width:100%;
    height:300px;
    object-fit:cover;
    margin-bottom:20px;
    border-radius:18px;
    cursor:pointer;
    transition:0.35s;
    display:block;
    border: 2px solid rgba(0,0,0,1);
}

.gallery-image:hover{
    transform:scale(1.01);
    border: 2px solid rgba(0,0,0,1);
}

.gallery-quote{
    padding:60px 0;
    text-align:center;
}

.gallery-quote-mobile, .gallery-quote-mobile p{
    display:none;
}

.gallery-quote p{
    font-family:'Story Script',cursive;
    font-size:clamp(2rem,4vw,5rem);
    max-width:1200px;
    margin:auto;
    color:#222;
}

#lightbox{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.95);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

#lightbox.active{
    display:flex;
}

#lightbox-image{
    max-width:92%;
    max-height:90vh;
    object-fit:contain;
}

#close-lightbox{
    position:absolute;
    top:25px;
    right:40px;
    font-size:4rem;
    background:none;
    border:none;
    color:white;
    cursor:pointer;
}

#prev-image,
#next-image{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:4rem;
    background:none;
    border:none;
    color:white;
    cursor:pointer;
    padding:20px;
}

#prev-image{
    left:20px;
}

#next-image{
    right:20px;
}