/* ACTUAL GALLERY MOBILE */
.gallery-section{
    max-width:1600px;
    margin:auto;
    padding: 60px 5%;
    margin-top: 15px;
}

.gallery-header{
    text-align:center;
    margin-bottom: 20px;
}

.gallery-year{
    text-align:center;
    margin-top: 10px;
}

.gallery-quote, .gallery-quote-mobile{
    padding: 15px 0;
    text-align:center;
    display: block;
}

.gallery-quote p, .gallery-quote-mobile p{
    font-family:'Story Script',cursive;
    font-size:clamp(2rem,4vw,5rem);
    max-width:1200px;
    margin:auto;
    color:#222;
    display: block;
}