/* ACTUAL GALLERY MOBILE */
@media (max-width: 768px) {

    .gallery-section {
        max-width: 1600px;
        margin: auto;
        padding: 60px 5%;
        margin-top: 15px;
    }

    .gallery-header {
        text-align: center;
    }

    .gallery-subheader {
        text-align: center;
    }

    .gallery-subheader h2 {
        font-size: 2.2rem;
        font-family: 'Story Script', cursive;
    }

    .gallery-year {
        text-align: center;
    }

    .gallery-year h2 {
        font-size: 1.8rem;
        text-align: center;
        font-family: 'Story Script', cursive;
        margin-bottom: 20px;
    }

    .gallery-quote,
    .gallery-quote-mobile {
        padding: 15px 0;
        text-align: center;
        display: block;
    }

    .gallery-quote p,
    .gallery-quote-mobile p {
        font-family: 'Story Script', cursive;
        font-size: clamp(2rem, 4vw, 5rem);
        max-width: 1200px;
        margin: auto;
        color: #222;
        display: block;
    }

}