.region-overlay h2{
    color:white;
    font-size:clamp(2.5rem,5vw,5rem);
    margin:0;
    margin-left: -40px;
}

.region-overlay p{
    color:rgba(255,255,255,0.85);
    margin-top:10px;
    font-size:1.1rem;
    margin-left: -40px;
}