#map-section {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    z-index: -2;
    border-radius: 0 0 30px 30px;
}

#map {
    height: 75dvh;
    width: 80%;
    margin: 0 auto;
    border-radius: 24px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.15);
    z-index: 0;
    border: solid 5px white;
}

.map-section-header{
    padding-top: 10vh;
    text-align: center;
    color: white;
    font-size: clamp(2.5rem, 6vw, 7rem);
    font-family: 'permanent marker';
    text-shadow: 15px 2px 25px rgba(255, 255, 255, 0.838);
}

.map-header {
    text-align: center;
    padding: 20px 20px;
    padding-top: 30px;
}

.map-header h2 {
    font-size: clamp(2rem, 4vw, 3.5rem);
    margin-bottom: 0px;
    color: #111;
    color: white;
    font-family: Permanent Marker;
    color: rgba(255, 255, 255, 0.95);
    font-size: clamp(2.8rem, 5vw, 5.5rem);
    font-weight: 200;
    letter-spacing: 4px;
    line-height: 1.2;
    text-align: center;
    text-shadow: 15px 2px 25px rgba(255, 255, 255, 0.838);
    text-decoration: underline;
}

.map-quote {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.map-quote p {
    font-family: "permanent marker", cursive;
    text-align: center;
    font-size: clamp(1.8rem, 3vw, 2rem);
    color: rgba(20,20,20,0.85);
    color: white;
    line-height: 65px;
    margin-bottom: 60px;
}

#intro-to-map-section {
    height: 60vh;
}

@media (max-width:768px) {

    .map-section-header{
        font-size: 60px;
        line-height: 70px;
    }

    .map-quote p {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 40px;
    }
}