/* ========================================= */
/* CONNECT SECTION */
/* ========================================= */

.social-media-section{
    padding:140px 8%;
    background:
        linear-gradient(
            to bottom,
            #f4f4f4 0%,
            #ffffff 100%
        );
}

.connect-container{
    max-width:1000px;
    margin:auto;
    text-align:center;
}

.connect-container h2{
    font-size:clamp(2.5rem,5vw,5rem);
    margin-bottom:30px;
    color:#111;
}

.connect-text{
    max-width:750px;
    margin:0 auto 70px;
    line-height:1.9;
    font-size:1.1rem;
    color:#444;
}

.social-links{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.social-card{
    width:320px;
    padding:40px;
    background:white;
    border-radius:24px;
    text-decoration:none;
    color:#111;
    box-shadow:
        0 10px 40px rgba(0,0,0,0.08);
    transition:0.35s;
}

.social-card:hover{
    transform:translateY(-8px);
    box-shadow:
        0 20px 60px rgba(0,0,0,0.12);
}

.social-title{
    display:block;
    font-size:1.8rem;
    font-weight:600;
    margin-bottom:15px;
}

.social-subtitle{
    display:block;
    line-height:1.7;
    color:#555;
}

.connect-footer{
    margin-top:90px;
    font-family:'Story Script',cursive;
    font-size:clamp(2rem,4vw,4rem);
    color:#222;
}

.social-icon{
    width:70px;
    height:70px;
    margin-bottom:25px;
    object-fit:contain;
    transition:0.35s;
}

.youtube{
    width:200px;
    height:70px;
    padding-top: 20px;
    margin-bottom:25px;
    object-fit:contain;
    transition:0.35s;
}

.social-card:hover .social-icon{
    transform:scale(1.08);
}