/* ========================================= */
/* STORY SECTION */
/* ========================================= */
.story-section {
    display: flex;
    flex-direction: column;
}

.story-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 100px;
    padding: 80px 8%;
    background:
        linear-gradient(
            to bottom,
            #f8f8f8 0%,
            #e8e8e8 100%
        );
     overflow: hidden;
     border-bottom: 3px solid rgba(0,0,0,0.5);
     border-radius: 30px;
}

/* IMAGE WRAPPER */
.story-image-wrapper, .story-image-wrapper-odd {
    flex: 0 0 48%;
    display: flex;
    justify-content: flex-end;
}

/* IMAGE */
.story-image, .story-image-odd {
    width: 100%;
    max-width: 850px;
    border-radius: 28px;
    display: block;
    object-fit: cover;
    border: black 2px solid;
}

/* TEXT SIDE */
.story-text {
    flex: 0 0 42%;
    display: flex;
    align-items: center;
}

/* QUOTE */
.story-quote {
    margin: 0;
    font-family:'Story Script', cursive;
    font-size: clamp(3rem, 3vw, 6rem);
    line-height: 1.15;
    color: rgba(20,20,20,0.95);
    text-shadow: 0 4px 20px rgba(0,0,0,0.04);
    overflow: hidden;
}