@import url('background.css');
@import url('backgroundMobile.css');
@import url('menu.css');
@import url('menuMobile.css');
@import url('content.css');
@import url('contentMobile.css');
@import url('storyImageAndQuote.css');
@import url('storyImageAndQuoteMobile.css');
@import url('timeline.css');
@import url('timelineMobile.css');
@import url(about.css);
@import url(aboutMobile.css);
@import url(adventures.css);
@import url(adventureMobile.css);
@import url(gallery.css);                     /* INDEX.HTML GALLERY SECTION */
@import url(galleryMobile.css);
@import url(galleryPage.css);                 /* GATEWAY TO ALL GALLERIES */
@import url(galleryPageMobile.css);
@import url(galleries.css);                   /* ACTUAL GALLERY */
@import url(galleriesMobile.css);
@import url(galleriesMenu.css);                   /* ACTUAL GALLERY */
@import url(galleriesMenuMobile.css);
@import url(videoSection.css);
@import url(socialMedia.css);
@import url(galleries_Style2.css);
@import url(galleries_Style2_Mobile.css);

*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}