@import url('background.css');
@import url('backgroundMobile.css');
@import url('menu.css');
@import url('menuMobile.css');
@import url('content.css');
@import url('contentMobile.css');
@import url('storyImageAndQuote.css');
@import url('storyImageAndQuoteMobile.css');
@import url('timeline.css');
@import url('timelineMobile.css');
@import url(about.css);
@import url(aboutMobile.css);
@import url(adventures.css);
@import url(adventureMobile.css);
@import url(gallery.css);
@import url(galleryMobile.css);
@import url(galleryPage.css);
@import url(galleryPageMobile.css);

*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}